 <div id="texto">
 <div><blockquote><p class="Msonormal">
 ¿Qué es la estadística? ¿Cuáles son sus divisiones más importantes?
 ¿Para qué sirven los métodos estadísticos y su aplicación?
 ¿Puede el investigador influir sobre la información estadística?
 </p></blockquote><br><p class="Msonormal3">
 La información producida por la estadística judicial, pone de resalto los problemas vigentes,
 dinamiza los procesos políticos y permite, entre otras cosas, diseñar los cambios que sean necesarios,
 como así también su posterior seguimiento.
 </p><br><p class="Msonormal2">
 La estadística, para su mejor estudio, se ha dividido en dos grandes ramas: la estadística "descriptiva"
 y la "inferencial".
 </p><br><p class="Msonormal2">
 La primera, consiste sobre todo en la presentación de datos en forma de tablas y gráficas.
 Ésta comprende cualquier actividad relacionada con los datos y está diseñada para resumir o describir los mismos sin
 intentar inferir nada que vaya más allá de los datos, como tales.
 </p><br><p class="Msonormal2">
 La segunda, se deriva de muestras, de observaciones hechas sólo acerca de una parte de un
  conjunto numeroso de elementos y esto implica que su análisis requiere de generalizaciones que van más allá de los datos.
 </p><br><p class="Msonormal2">
 La estadística inferencial investiga o analiza una población partiendo de una muestra tomada.
 </p><br><p class="Msonormal2">
 Los métodos estadísticos, son los que permiten medir las características de la información, para resumir los valores
  individuales, y para analizar los datos a fin de extraerles el máximo de información.
 </p><br><p class="Msonormal2">
 Los pasos a seguir para analizar la información cuantitativa podemos agruparlos en: 1) Definición
  del problema; 2) Recopilación de la información existente; 3) Obtención de información original; 4) Clasificación; 5)
  Presentación y 6) Análisis.
 </p><br><p class="Msonormal2">
 Algunos autores, consideran que  es imposible  ser completamente objetivo o no tener ideas preconcebidas antes
 de comenzar a estudiar un problema, y existen muchas maneras en que una perspectiva o estado mental pueda influir
 en la recopilación y en el análisis de la información. En estos casos se dice que hay un sesgo cuando el individuo
 da mayor peso a los datos que apoyan su opinión que a aquellos que la contradicen. Ello acontece muchas veces una vez 
 expuestas o publicadas las estadísticas judiciales por diversos medios.
 </p><br></div><div><blockquote><p class="Msonormal">
 ¿Cuándo se creó la Oficina de Estadísticas del Poder Judicial de la Nación? ¿Qué normativas la regulan? ¿Qué tareas
 realizó y está en vías de? ¿Quiénes la utilizan?
 </p></blockquote><p class="Msonormal3">
 En el año 1991 la Excma. Corte Suprema de Justicia de la Nación, con la finalidad de disponer de un sistema
 eficiente de estadísticas correspondientes a lo actuado por las cámaras, juzgados y demás dependencias
 judiciales, y a su vez persiguiendo una renovación sustantiva de los procedimientos, registros y normativas a nivel estadístico, crea mediante Resolución N1451, de fecha 16 de abril del año 1991, la Oficina de Estadísticas del Poder Judicial de la Nación.</p>
 <br><p class="Msonormal3">
 De tal modo, se podrían detectar los problemas existentes y planificar las posibles soluciones, asignando 
 los escasos recursos según las prioridades.
 </p><br><p class="Msonormal3">
 Desde sus comienzos hasta el año 1995, receptaba además las estadísticas del Ministerio Público -fiscalías
 y defensorías- (Ac. 36/95CSJN).
 </p><br><p class="Msonormal3">
 En el segundo año de su gestión se aprobó el Reglamento que regula su accionar y el de las distintas
 dependencias encargadas de elevar las estadísticas pertinentes (Ac.33/92 CSJN) y se adecuó, el art. 34 
 del Reglamento para la Justicia Nacional, a las nuevas normativas vigentes (Ac. 21/91 y 48/93 CSJN)
 </p><br><p class="Msonormal3">
 El Alto Tribunal, con la creación del Consejo de la Magistratura (art.32 de la ley 24937), le
 transfirió oficinas y dependencias administrativas, entre ellas, la Oficina que nos ocupa (Resolución N13318/98 CSJN)
 </p><br><p class="Msonormal3"><u>
 Etapas cumplidas:
 </u></p><br><ol type="a"><p class="Msonormal3"><li>
 Análisis de las falencias del sistema vigente, hasta la fecha de creación de ésta Oficina, y estudio de las modificaciones
 factibles y necesarias para optimizar sus resultados.
 </li><br><li>
 Reuniones con los distintos representantes de los organismos que integran el Poder Judicial de la Nación con el 
 objeto de establecer parámetros comunes que sirvan de base para la elaboración de los formularios de estadísticas.
 </li><br><li>
 Adecuación de los mismos  a las pretensiones y posibilidades de los usuarios, ajustándolos según su competencia 
 o particularidades del proceso.
 </li><br><li>
 Confección e impresión de los Anuarios de Estadísticas desde el año 1991 hasta el 2002 inclusive, en preparación el
 del año 2003 y así sucesivamente.
 <br><br>
 En el Anuario de Estadística,  se ofrece la información numérica de los principales aspectos del sistema judicial. Contiene
 datos, indicadores y comparaciones territoriales y temporales. Proporciona además, una visión de conjunto de cada instancia
 y jurisdicción. Dentro de éstas se  desagregan los datos por tipo de órgano y de objeto de litigio.
 </li><br><li>
 Con la información recopilada a través del tiempo se realizan numerosas investigaciones y trabajos específicos de tendencias
 y proyecciones.
 </li><br><li>
 Creación y diseño de la página Web y transformación de los diferentes archivos en el lenguaje apropiado, a fin de dar a
 publicidad los datos estadísticos elaborados por la Oficina de Estadísticas del Poder Judicial de la Nación, con el
 propósito de garantizar el público acceso a una información completa y adecuada.
 </li><br></p></ol>
 <p class="Msonormal3"><u>
 Etapas cumplidas:
 </u></p><br><ul><li>
 Incremento de  los registros por materia u objeto y de los recursos materiales y humanos (programadores) 
 que exige esta estructura.
 </li><li>
 Eliminar paulatinamente las estadísticas manuales por medio de:
 </li><ol type="a"><li>
 La extracción directa del sistema informático vigente (si las dependencias están conectadas a la red interna)
 </li><li>
 La creación de programas y bases de datos que permita a los usuarios elaborar directamente la estadística,
 bajarla a un diskette o CD (depende de los insumos informáticos que  posean) y enviarla por e-mail, intranet
 o correo  común a la Oficina de Estadísticas.
 </li></ol><li>
 Además, con las autorizaciones pertinentes, sería de gran utilidad poder firmar convenios con  otras  instituciones
 que nos permitan intercambiar información, conocimientos técnicos, realizar estudios  en conjunto, etc.
 </li></ul><p class="Msonormal3">
 Por último, debe destacarse que la  estadística es la ciencia que más aporta en la toma de decisiones en todos los
 ámbitos gubernamentales, resultando por ende de gran importancia su  diagnóstico previo  ante una futura reforma
 legislativa.
 </p><br><p class="Msonormal3">
 La falta de cautela en la utilización de la Estadística puede generar resultados engañosos que  conllevaría a su vez
 a la toma de decisiones erróneas.
 </p><br><p class="Msonormal3">
 Hoy en día es imposible pensar en instituciones que manejan cierto volumen de datos e informaciones y que no
 utilicen sus herramientas para la realización de predicciones, proyecciones e  inferencias.
 </p><br></div></div>
 